:host {
    ion-header {
        margin-top: 10px;
        margin-bottom: 50px;
        padding-left: var(--ion-app-inner-padding);
        padding-right: var(--ion-app-inner-padding);

        ion-toolbar {
            // --background: var(--ion-color-background);
            --background: transparent
            --padding-bottom: 0;
            --padding-end: 0;
            --padding-start: 0;
            --padding-top: 0;

            ion-buttons {
                ion-button,
                ion-menu-button {
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                    --padding-start: 0;
                    --padding-end: 0;
                    --color: black;
                    --background: transparent;
                }
            }

            &.title {
                ion-buttons {
                    ion-icon {
                        font-size: 28px;
                    }
                }

                ion-title {
                    --color: var(--ion-color-dark-06);
                    font-size: 16px;
                    font-family: var(--ion-font-family-bold);
                }
            }
        }
    }
}
