<ion-header [translucent]="true" no-border no-shadow class="ion-no-border">
    <ion-toolbar class="title" lines="none">
        <ion-buttons slot="start">
            <ion-button *ngIf="backBtnEnabled" (click)="goBack()">
                <ion-icon
                    name="chevron-back-outline"
                    size="large"
                    color="primary"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button *ngIf="settingsEnabled" (click)="presentPopover($event)">
                <ion-icon
                    name="settings-outline"
                    size="large"
                    color="primary"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>
