:host {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: auto;
        content: "";
        width: 100%;
        background-color: var(--ion-color-background);
        height: 10vh;
        border-radius: 0 0 30px 30px;
    }
    ion-content {
        --background: transparent;
    }
}
