<app-header [title]="'Setup Doctor'" [backBtnEnabled]="false"></app-header>

<ion-content>
    <form [formGroup]="doctorForm">
        <ion-item>
            <ion-input
                label="Name"
                labelPlacement="floating"
                formControlName="name"
            >
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                label="Phone"
                labelPlacement="floating"
                formControlName="phone"
            >
            </ion-input>
        </ion-item>
    </form>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-fab horizontal="end" vertical="bottom" class="ion-margin">
        <ion-fab-button
            type="submit"
            appThrottleButtonDirective
            (click)="onSubmit()"
            throttleTime="2000"
        >
            <ion-icon class="icon-Save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
