<!-- <app-header [title]="'Setup Doctor'" [backBtnEnabled]="false"></app-header> -->
<ion-header [translucent]="true" no-border no-shadow class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="app-inner-padding">
    <form [formGroup]="doctorForm">
        <ion-item lines="none">
            <ion-input
                appUppercase
                label="Name"
                labelPlacement="floating"
                formControlName="name"
                errorText="{{
                    doctorForm.get('name')?.errors | translateError
                }}"
            >
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                label="Phone"
                labelPlacement="floating"
                formControlName="phone"
            >
            </ion-input>
        </ion-item>
    </form>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-fab horizontal="end" vertical="bottom" class="ion-margin">
        <ion-fab-button
            type="submit"
            appThrottleButtonDirective
            (click)="onSubmit()"
            [throttleTime]="2000"
            [disabled]="!doctorForm.valid"
        >
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
