<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Home Comp </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div>{{myNumber()}}</div>

    {{ summarizedCount() }}
    <!-- <button (click)="incrementOne()">Increment counter one</button>
    <button (click)="incrementTwo()">Increment counter two</button> -->

    <button (click)="updateSubjectValue()">Update subject</button>
    <button (click)="updateSignalValue()">Update signal</button>

    <form [formGroup]="favoriteFood">
        <select formControlName="category">
            <option>Food</option>
            <option>Beverages</option>
        </select>
        <select *ngIf="products().length" formControlName="products">
            <option *ngFor="let product of products()">{{ product }}</option>
        </select>
    </form>

    <ion-buttons>
        <ion-button (click)="updateSignal('gsb')"
            >GSB {{stringSignal()}}</ion-button
        >
    </ion-buttons>
</ion-content>
