:host {
  ion-content {
    ion-list {
      ion-item {
        ion-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
          padding: 10px;

          ion-card-header {
            ion-card-title {
              font-size: 1.5rem;
            }
          }

          ion-card-content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px;
          }
        }
      }
    }
  }
}
