<ion-header [translucent]="true" no-border no-shadow class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="app-inner-padding">
    <form [formGroup]="workItemForm">
        <ion-item>
            <ion-input
                appUppercase
                label="Name"
                labelPlacement="floating"
                formControlName="name"
            >
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                label="Price"
                labelPlacement="floating"
                formControlName="price"
            >
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                appUppercase
                label="Description"
                labelPlacement="floating"
                formControlName="description"
            >
            </ion-input>
        </ion-item>
    </form>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-fab horizontal="end" vertical="bottom" class="ion-margin">
        <ion-fab-button
            type="submit"
            appThrottleButtonDirective
            (click)="onSubmit()"
            [throttleTime]="2000"
            [disabled]="!workItemForm.valid"
        >
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
