:host {
    form {
        display: flex;
        flex-direction: column;

        ion-item-group {
            ion-item-divider {
                font-size: 14px;
                font-weight: bold;
                --color: var(--ion-color-dark-02);
                background: transparent;
            }
            ion-grid {
                &:last-of-type {
                    max-height: 32vh;
                    overflow-y: auto;
                }
                ion-row + app-item-sliding-card {
                    padding: 5px;
                    ion-col {
                        &.bordered {
                            border-radius: 8px;
                            border: solid 2px;
                            border-color: var(--ion-color-light-09);
                        }

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        app-date-picker {
                            flex: 1;
                        }
                    }
                }

                ion-buttons {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
