<div *ngIf="doctorGroupControls | async; let dgc">
    <form [formGroup]="dgc.form">
        <ion-item-group [formGroup]="dgc.timeGroup">
            <ion-item-divider>
                <ion-label> Time Tracking </ion-label>
            </ion-item-divider>
            <ion-grid>
                <ion-row>
                    <ion-col
                        ><app-date-picker
                            [chosenDate]="chosenDate"
                            formControlName="startTime"
                            [form]="dgc.timeGroup"
                            [label]="'Start Time'"
                        ></app-date-picker
                    ></ion-col>
                    <ion-col>
                        <app-date-picker
                            [chosenDate]="chosenDate"
                            formControlName="endTime"
                            [form]="dgc.timeGroup"
                            [label]="'End Time'"
                        ></app-date-picker>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item-divider>
                <ion-label> Breaks </ion-label>
            </ion-item-divider>
            <ion-grid formArrayName="breaks" supressTouchMove>
                <ion-row
                    long-press
                    (press)="onLongPress()"
                    (tap)="onTap()"
                    *ngFor="
                        let breakControl of dgc.timeGroupControls;
                        let i = index
                    "
                >
                    <app-item-sliding-card
                        [isNgContent]="true"
                        [itemSlidingProps]="{
                        id: i,
                        title: '',
                        rows: [],
                    }"
                        (itemSlidingDelete)="deleteBreak(i)"
                    >
                        <ion-col [formGroupName]="i">
                            <app-date-picker
                                [chosenDate]="chosenDate"
                                formControlName="startTime"
                                [form]="dgc.timeGroup"
                                [label]="'Start Time'"
                            ></app-date-picker>
                        </ion-col>
                        <ion-col [formGroupName]="i">
                            <app-date-picker
                                [chosenDate]="chosenDate"
                                formControlName="endTime"
                                [form]="dgc.timeGroup"
                                [label]="'End Time'"
                            ></app-date-picker>
                        </ion-col>
                    </app-item-sliding-card>
                </ion-row>

                <ion-button (click)="addBreak()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-grid>
        </ion-item-group>
    </form>
</div>
