<div *ngIf="doctorGroupControls | async; let dgc">
    <form [formGroup]="dgc.form">
        <ion-item-group formGroupName="doctorGroup" supressTouchMove>
            <ion-grid formArrayName="doctorArray">
                <ion-row
                    *ngFor="
                        let doctorControlGroup of dgc.doctorFormGroupControls;
                        let i = index
                    "
                >
                    <app-item-sliding-card
                        [isNgContent]="true"
                        [canDelete]="dgc.doctorFormGroupControls.length > 1"
                        [itemSlidingProps]="{
                    id: i,
                    title: '',
                    rows: [],
                }"
                        (itemSlidingDelete)="removeDoctorControl(i)"
                    >
                        <ion-col class="bordered">
                            <ion-item [formGroupName]="i">
                                <app-search-select-input
                                    formControlName="doctor"
                                    [form]="dgc.doctorFormGroup"
                                    [strategy]="strategy"
                                    (itemSelected)="onDoctorSelected($event, i)"
                                ></app-search-select-input>
                            </ion-item>

                            <ion-buttons>
                                <ion-button
                                    [disabled]="
                                        !dgc.doctorFormGroupControls[i]?.value
                                            ?.doctor
                                    "
                                    (click)="onGoToDoctor(i)"
                                >
                                    <ion-icon
                                        name="arrow-forward-outline"
                                    ></ion-icon>
                                </ion-button>
                            </ion-buttons>
                        </ion-col>
                    </app-item-sliding-card>
                </ion-row>

                <ion-buttons>
                    <ion-button (click)="addDoctorControl()">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-grid>
        </ion-item-group>

        <ion-buttons>
            <ion-button (click)="goToTimeTracking()">
                <ion-label>Time Tracking</ion-label>
                <ion-icon name="arrow-forward-outline"> </ion-icon>
            </ion-button>
        </ion-buttons>
    </form>
</div>
