:host {
    @mixin buttons-common {
        ion-buttons {
            display: flex;
            justify-content: center;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        ion-item-group {
            &:first-of-type {
                max-height: 45vh;
                overflow-y: auto;
            }

            margin-bottom: 20px;

            ion-grid {
                ion-row {
                    &:last-of-type {
                        margin-bottom: 20px;
                    }
                    padding: 5px;
                    ion-col {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        @include buttons-common;
    }
}
