<div *ngIf="doctorGroupControls | async; let dgc">
    <form [formGroup]="dgc.form">
        <ion-item-group formGroupName="doctorGroup">
            <ion-grid formArrayName="doctorArray">
                <ion-row
                    *ngFor="
                        let doctorControlGroup of dgc.doctorFormGroupControls;
                        let i = index
                    "
                >
                    <ion-col class="bordered">
                        <ion-item [formGroupName]="i">
                            <app-search-select-input
                                formControlName="doctor"
                                [form]="dgc.doctorFormGroup"
                                [strategy]="strategy"
                                (itemSelected)="onDoctorSelected($event, i)"
                            ></app-search-select-input>
                        </ion-item>

                        <div>
                            <!-- {{ dgc.doctorFormGroupControls[i].value?.doctor | json }} -->
                            <ion-button
                                [disabled]="
                                    !dgc.doctorFormGroupControls[i]?.value
                                        ?.doctor
                                "
                                (click)="onGoToDoctor(i)"
                            >
                                <ion-icon
                                    name="arrow-forward-outline"
                                ></ion-icon>
                            </ion-button>
                            <ion-button
                                *ngIf="dgc.doctorFormGroupControls.length > 1"
                                color="danger"
                                (click)="removeDoctorControl(i)"
                            >
                                <ion-icon name="remove"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-button (click)="addDoctorControl()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-grid>
        </ion-item-group>
        <ion-item-group [formGroup]="dgc.timeGroup">
            <ion-grid>
                <ion-row>
                    <ion-col
                        ><app-date-picker
                            [chosenDate]="chosenDate"
                            formControlName="startTime"
                            [form]="dgc.timeGroup"
                            [label]="'Start Time'"
                        ></app-date-picker
                    ></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <app-date-picker
                            [chosenDate]="chosenDate"
                            formControlName="endTime"
                            [form]="dgc.timeGroup"
                            [label]="'End Time'"
                        ></app-date-picker>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-group>
    </form>
</div>
