<div *ngIf="doctorGroupControls | async; let dgc">
    <form [formGroup]="dgc.form">
        <ion-item-group formGroupName="doctorGroup" supressTouchMove>
            <ion-grid formArrayName="doctorArray">
                <ion-row
                    *ngFor="
                        let doctorControlGroup of dgc.doctorFormGroupControls;
                        let i = index
                    "
                >
                    <app-item-sliding-card
                        [isNgContent]="true"
                        [canDelete]="dgc.doctorFormGroupControls.length > 1"
                        [itemSlidingProps]="{
                    id: i,
                    title: '',
                    rows: [],
                }"
                        (itemSlidingDelete)="removeDoctorControl(i)"
                    >
                        <ion-col class="bordered">
                            <ion-item [formGroupName]="i">
                                <app-search-select-input
                                    formControlName="doctor"
                                    [attachedFormControl]="dgc.doctorFormGroup"
                                    [strategy]="strategy"
                                    (itemSelected)="onDoctorSelected($event, i)"
                                ></app-search-select-input>
                            </ion-item>

                            <ion-buttons>
                                <app-add-button
                                    [disabled]="
                                        !dgc.doctorFormGroupControls[i]?.value
                                            ?.doctor
                                    "
                                    [buttonIcon]="'arrow-forward-outline'"
                                    (emitButtonPressed)="
                                        onGoToDoctor(
                                            i,
                                            dgc.doctorFormGroupControls[i]
                                                ?.value?.doctor
                                        )
                                    "
                                />
                            </ion-buttons>
                        </ion-col>
                    </app-item-sliding-card>
                </ion-row>

                <ion-buttons>
                    <app-add-button (emitButtonPressed)="addDoctorControl()" />
                </ion-buttons>
            </ion-grid>
        </ion-item-group>

        <ion-buttons>
            <app-add-button
                [buttonIcon]="'arrow-forward-outline'"
                [buttonLabel]="'Time Tracking'"
                (emitButtonPressed)="goToTimeTracking()"
            />
        </ion-buttons>
    </form>
</div>
