:host {
    form {
        display: flex;
        flex-direction: column;

        ion-item-group {
            :first-of-type {
                max-height: 50vh;
                overflow-y: auto;
            }
            ion-grid {
                ion-row {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    app-date-picker {
                        flex: 1;
                    }
                }
            }
        }
    }
}
