<app-header [title]="'Setup Doctor'" [backBtnEnabled]="true"></app-header>

<ion-content class="app-inner-padding">
    <ng-container *ngFor="let doctor of doctors$ | async">
        <app-item-sliding-card
            [itemSlidingProps]="doctor"
            (itemSlidingDelete)="deleteDoctor($event)"
            (itemSlidingEdit)="editDoctor($event)"
        ></app-item-sliding-card>
    </ng-container>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ion-margin">
        <ion-fab-button (click)="addDoctor()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
