:host {
    ion-content {
        --background: transparent;
        --padding-top: 130px !important;

        top: 20px;

        ion-card {
            width: 90%;
        }

        ion-item-options {
            border-radius: 10px;
            ion-item-option {
                border-radius: 10px;
            }
        }

        ion-fab {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    }
}
