<div *ngIf="patientGroupControls | async; let pgc">
    <form [formGroup]="pgc.patientGroup">
        <ion-grid formArrayName="patientArray" supressTouchMove>
            <ion-row
                *ngFor="
                    let pacientControl of pgc.patientControls;
                    let j = index
                "
            >
                <app-item-sliding-card
                    [isNgContent]="true"
                    [canDelete]="pgc.patientControls.length > 1"
                    [itemSlidingProps]="{
                    id: j,
                    title: '',
                    rows: [],
                }"
                    (itemSlidingDelete)="removePatientControl(j, pgc.doctorIdx)"
                >
                    <ion-item [formGroupName]="j" lines="none">
                        <ion-input
                            appUppercase
                            formControlName="patient"
                            type="text"
                            label="Patient"
                            labelPlacement="floating"
                            errorText="{{
                                pacientControl.get('patient')?.errors
                                    | translateError
                            }}"
                        >
                        </ion-input>
                    </ion-item>

                    <ion-buttons>
                        <app-add-button
                            [buttonIcon]="'arrow-forward-outline'"
                            (emitButtonPressed)="
                                onGoToWorkItem(
                                    pgc.doctorIdx,
                                    j,
                                    pacientControl.get('patient').value
                                )
                            "
                        />
                    </ion-buttons>
                </app-item-sliding-card>
            </ion-row>
            <ion-buttons>
                <app-add-button
                    (emitButtonPressed)="addPatientControl(pgc.doctorIdx)"
                />
            </ion-buttons>
        </ion-grid>
    </form>
</div>
