<div *ngIf="patientGroupControls | async; let pgc">
    <form [formGroup]="pgc.patientGroup">
        <ion-grid formArrayName="patientArray">
            <ion-row
                *ngFor="let pacientControl of pgc.patientControls; let j = index"
            >
            
                <ion-item [formGroupName]="j">
                    <ion-input
                        formControlName="patient"
                        type="text"
                        label="Patient"
                        labelPlacement="floating"
                    >
                    </ion-input>
                </ion-item>
                <!-- {{pgc.doctorIdx}} -->
                <ion-button color="danger" (click)="removePatientControl(j, pgc.doctorIdx)">
                    <ion-icon name="remove"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-button (click)="addPatientControl(pgc.doctorIdx)">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-grid>
    </form>
</div>
