:host {
    ion-grid {
        max-height: 50vh;
        overflow-y: auto;

        ion-row {
            margin-bottom: 15px;

            ion-note {
                font-size: 13px;
            }
        }
    }
    ion-buttons {
        display: flex;
        justify-content: center;
    }
}
