<div *ngIf="workItemGroupControls | async; let wig">
    <form [formGroup]="wig.workItemGroup">
        <ion-grid formArrayName="workItemProps" supressTouchMove>
            <ion-row
                class="outer-slide"
                *ngFor="
                    let workItemControl of wig.workItemControls;
                    let j = index
                "
            >
                <app-item-sliding-card
                    [isNgContent]="true"
                    [itemSlidingProps]="{
                        id: j,
                        title: '',
                        rows: [],
                    }"
                    (itemSlidingDelete)="
                        removeWorkItemControl(j, wig.doctorIdx, wig.pacientIdx)
                    "
                >
                    <ion-grid>
                        <ion-row class="inner-slide">
                            <ion-col size="12">
                                <ion-item [formGroupName]="j">
                                    <app-search-select-input
                                        formControlName="workItem"
                                        [strategy]="strategy"
                                        [attachedFormControl]="
                                            workItemControl.get('workItem')
                                        "
                                    ></app-search-select-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row class="inner-slide">
                            <ion-col size="6">
                                <ion-item [formGroupName]="j">
                                    <ion-input
                                        type="number"
                                        formControlName="numberOfWorkItems"
                                        label="Count"
                                        labelPlacement="floating"
                                        errorText="{{
                                            workItemControl.get(
                                                'numberOfWorkItems'
                                            )?.errors | translateError
                                        }}"
                                    >
                                    </ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item [formGroupName]="j">
                                    <ion-input
                                        appUppercase
                                        type="text"
                                        formControlName="color"
                                        label="Color"
                                        labelPlacement="floating"
                                        errorText="{{
                                            workItemControl.get('color')?.errors
                                                | translateError
                                        }}"
                                    >
                                    </ion-input>
                                </ion-item> </ion-col
                        ></ion-row>
                    </ion-grid>
                </app-item-sliding-card>
            </ion-row>
            <ion-buttons>
                <ion-button
                    (click)="addWorkItemControl(wig.doctorIdx, wig.pacientIdx)"
                >
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-grid>
    </form>
</div>
