<div *ngIf="workItemGroupControls | async; let wig">
    <form [formGroup]="wig.workItemGroup">
        <ion-grid formArrayName="workItemAndNumber" supressTouchMove>
            <ion-row
                *ngFor="
                    let workItemControl of wig.workItemControls;
                    let j = index
                "
            >
                <app-item-sliding-card
                    [isNgContent]="true"
                    [itemSlidingProps]="{
                        id: j,
                        title: '',
                        rows: [],
                    }"
                    (itemSlidingDelete)="
                        removeWorkItemControl(j, wig.doctorIdx, wig.pacientIdx)
                    "
                >
                    <ion-col size="8">
                        <ion-item [formGroupName]="j">
                            <app-search-select-input
                                formControlName="workItem"
                                [strategy]="strategy"
                                [attachedFormControl]="
                                    workItemControl.get('workItem')
                                "
                            ></app-search-select-input>
                        </ion-item>
                    </ion-col>

                    <ion-col size="4">
                        <ion-item [formGroupName]="j">
                            <ion-input
                                type="number"
                                formControlName="numberOfWorkItems"
                                label="Count"
                                labelPlacement="floating"
                                errorText="{{
                                    workItemControl.get('numberOfWorkItems')
                                        ?.errors | translateError
                                }}"
                            >
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </app-item-sliding-card>
            </ion-row>
            <ion-buttons>
                <ion-button
                    (click)="addWorkItemControl(wig.doctorIdx, wig.pacientIdx)"
                >
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-grid>
    </form>
</div>
