:host {
    form {
        ion-grid {
            max-height: 50vh;
            overflow-y: auto;

            ion-row {
                &.outer-slide {
                    margin-bottom: 15px;

                    ion-col {
                        app-search-select-input {
                            width: 100%;
                        }

                        ion-note {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        ion-buttons {
            display: flex;
            justify-content: center;
        }
    }
}
