<app-header [title]="'Work Logging'"></app-header>

<ion-content [fullscreen]="true" class="app-inner-padding">
    <ion-list>
        <ion-card color="primary" (click)="openLogWork()" mode="ios">
            <ion-card-header>
                <ion-card-title>Log Work</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="secondary" (click)="openSetup()" mode="ios">
            <ion-card-header>
                <ion-card-title>Setup</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary" (click)="openReports()" mode="ios">
            <ion-card-header>
                <ion-card-title>Reports</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>
