:host {
    ion-content {
        --background: transparent;
        --padding-top: 130px !important;

        ion-card {
            border-radius: 15px;
            box-shadow: 5px 3px 10px 6px var(--ion-color-shadow01);
        }
    }
}
