:host {
    ion-header {
        // transparent background
        --background: transparent;
        ion-toolbar {
            --background: transparent;

            ion-buttons {
                ion-button,
                ion-menu-button {
                    --color: var(--ion-color-dark-06);
                    --background: transparent;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                    ion-icon {
                        --color: var(--ion-color-dark-06);
                        font-size: 28px;
                    }
                }
            }
        };
    }
    ion-content {
        swiper-slide {
            // form {
            //     display: flex;
            //     flex-direction: column;

            //     ion-item-group {
            //         :first-of-type {
            //             max-height: 50vh;
            //             overflow: scroll;
            //         }
            //         ion-grid {
            //             ion-row {
            //                 display: flex;
            //                 align-items: center;

            //                 app-date-picker {
            //                     flex: 1;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}
