<ion-header [translucent]="true" no-border no-shadow class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button
                [disabled]="isDeleteButtonEnabled"
                (click)="deleteLoggedWorkForDate()"
            >
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!isFormValid" class="warning-icon">
            <ion-button [disabled]="true">
                <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ng-container *ngIf="swiperPageTwoComponent === 'app-pacient'">
            <ion-breadcrumbs>
                <ion-breadcrumb *ngFor="let bc of breadcrumbs">{{
                    bc
                }}</ion-breadcrumb>
            </ion-breadcrumbs>
        </ng-container>
    </ion-toolbar>

    <ion-toolbar class="title" mode="ios">
        <ion-title mode="ios">
            {{ chosenDate | date : "dd.MM.yyyy" }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="app-inner-padding">
    <swiper-container
        #swiperContainer
        pagination="true"
        effect="coverflow"
        parallax="true"
    >
        <ng-container *ngIf="this.multiForm | async as form">
            <swiper-slide>
                <app-doctor
                    style="height: 100%"
                    [chosenDate]="chosenDate"
                    (doctorSelected)="onDoctorSelected($event)"
                    (goToDoctor)="onGoToDoctor($event)"
                    (navigateTimeTracking)="onNavigateTimeTracking()"
                ></app-doctor>
                <div id="animated-rows">
                    <app-animated-arrows></app-animated-arrows>
                </div>
            </swiper-slide>
            <swiper-slide [ngSwitch]="swiperPageTwoComponent">
                <app-pacient
                    style="height: 100%"
                    *ngSwitchCase="'app-pacient'"
                    (goToWorkItem)="onGoToWorkItem()"
                ></app-pacient>
                <app-time-tracking
                    style="height: 100%"
                    *ngSwitchCase="'app-time-tracking'"
                    [chosenDate]="chosenDate"
                ></app-time-tracking>
                <div id="animated-rows">
                    <app-animated-arrows></app-animated-arrows>
                </div>
            </swiper-slide>
            <swiper-slide>
                <app-work-item style="height: 100%"></app-work-item>
                <div id="animated-rows">
                    <app-animated-arrows></app-animated-arrows>
                </div>
            </swiper-slide>
        </ng-container>
    </swiper-container>

    <ion-buttons>
        <ion-button expand="block" (click)="save()">
            <ion-text>Save</ion-text>
        </ion-button>
    </ion-buttons>
</ion-content>
