<ion-content>
    <swiper-container
        #swiperContainer
        pagination="true"
        (slidechange)="onSlideChange()"
        effect="coverflow"
    >
        <swiper-slide>
            <app-doctor
                [multiForm]="multiForm"
                [chosenDate]="chosenDate"
                (doctorSelected)="onDoctorSelected($event)"
                (goToDoctor)="onGoToDoctor($event)"
            ></app-doctor>
        </swiper-slide>
        <swiper-slide>
            <app-pacient></app-pacient>
        </swiper-slide>
        <swiper-slide></swiper-slide>
    </swiper-container>
</ion-content>
