<ion-content>
    <swiper-container
        #swiperContainer
        pagination="true"
        (slidechange)="onSlideChange()"
        effect="coverflow"
    >
        <swiper-slide>
            <form [formGroup]="multiForm">
                <ion-item-group formGroupName="doctorGroup">
                    <ion-grid formArrayName="doctorArray">
                        <ion-row
                            class="doctor-list"
                            *ngFor="
                                let doctorControlGroup of doctorFormGroupControls;
                                let i = index
                            "
                        >
                            <ion-item [formGroupName]="i">
                                <app-search-select-input
                                    formControlName="doctor"
                                    [form]="doctorFormGroup"
                                    (change)="onDoctorSelected($event)"
                                ></app-search-select-input>
                            </ion-item>
                            <ion-button
                                color="danger"
                                (click)="removeDoctorControl(i)"
                            >
                                <ion-icon name="remove"></ion-icon>
                            </ion-button>
                        </ion-row>

                        <ion-button (click)="addDoctorControl()">
                            <ion-icon name="add"></ion-icon>
                        </ion-button>
                    </ion-grid>
                </ion-item-group>
            </form>
        </swiper-slide>
        <swiper-slide>
            <app-form-modal></app-form-modal>
        </swiper-slide>
        <swiper-slide><app-form-modal></app-form-modal></swiper-slide>
    </swiper-container>
</ion-content>
