:host {
    ion-content {
        --background: transparent;
        --padding-top: 130px !important;

        top: 20px;

        .datetime-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
