<app-header [title]="'Setup Work Items'" [backBtnEnabled]="true"></app-header>

<ion-content class="app-inner-padding">
    <ng-container *ngFor="let workItem of workItems$ | async">
        <app-item-sliding-card
            [itemSlidingProps]="workItem"
            (itemSlidingDelete)="deleteWorkItem($event)"
            (itemSlidingEdit)="editWorkItem($event)"
        ></app-item-sliding-card>
    </ng-container>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ion-margin">
        <ion-fab-button (click)="addWorkItem()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
