:host {
    ion-content {
        --background: transparent;
        --padding-top: 130px !important;

        ion-grid {
            ion-row {
                padding: 5px;
                ion-col {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:first-of-type {
                        align-items: flex-start;
                        justify-content: flex-start;
                    }

                    ion-label {
                        font-size: 16px;
                        color: var(--ion-color-grey);
                        font-family: var(--ion-font-family-bold);
                    }
                }
            }
        }
    }
}
