
<form>
    <ion-item-group [formGroup]="logWorkForm">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <app-search-select-input
                            formControlName="doctor"
                            [form]="logWorkForm"
                        ></app-search-select-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-input
                            label="Numar de elemente"
                            labelPlacement="floating"
                            formControlName="numberOfWorkItems"
                        ></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-input
                            label="Pacient"
                            labelPlacement="floating"
                            formControlName="patient"
                        ></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-input
                            label="Nume Lucrare"
                            labelPlacement="floating"
                            formControlName="workItem"
                        ></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-date-picker
                        [chosenDate]="chosenDate"
                        formControlName="startTime"
                        [form]="logWorkForm"
                        [label]="'Start Time'"
                    ></app-date-picker>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-date-picker
                        [chosenDate]="chosenDate"
                        formControlName="endTime"
                        [form]="logWorkForm"
                        [label]="'End Time'"
                    ></app-date-picker>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item-group>
</form>
<ion-footer class="ion-no-border">
    <ion-fab horizontal="end" vertical="bottom" class="ion-margin">
        <ion-fab-button
            type="submit"
            [disabled]="!logWorkForm.valid"
            appThrottleButtonDirective
            (click)="onSubmit()"
            throttleTime="2000"
        >
            <ion-icon class="icon-Save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
